* {
  box-sizing: border-box; }

body {
  font-size: 16px; }

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 600; }

header {
  background-color: #000118;
  color: #fff;
  font-family: "Poppins", sans-serif; }

.header-line1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em; }

.logo-container {
  width: 2.5em; }

object {
  width: 100%;
  height: 100%; }

.name {
  font-size: 1.5em;
  margin-left: .4em;
  font-weight: 600; }

.hamburger-menu {
  margin-left: auto;
  font-size: 1.45em; }

nav {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  position: fixed;
  right: -400px;
  width: 250px;
  height: 500px;
  top: 0;
  background-color: #f9f9f9;
  color: #908f8f; }
  nav .x-icon {
    font-size: 1.5em;
    margin: 1.2em;
    text-align: right;
    z-index: 100; }
  nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 1.2em;
    margin-top: -3.2em; }
  nav li {
    padding: .5em;
    margin-bottom: .3em;
    border: 1px solid #b4b4b4; }

.header-animation-container {
  background-color: #000016;
  padding: 1em; }

.about {
  color: #908f8f;
  padding: 1.5em; }
  .about h2 {
    font-family: "Poppins", sans-serif;
    padding-bottom: .5em;
    border-bottom: 2px solid #b4b4b4;
    font-size: 1.3em;
    font-weight: 700; }
  .about .subtitle-css {
    font-size: 1.05em; }

.intro p {
  font-family: "Roboto", sans-serif;
  margin-top: .5em;
  line-height: 1.4em; }

.education, .experience {
  margin-top: 2em; }
  .education h3, .experience h3 {
    margin-bottom: 1em; }
  .education p, .experience p {
    margin-bottom: .3em; }

.job-wrapper {
  margin-bottom: 1.5em; }

.portfolio {
  color: #908f8f;
  padding: 1.5em; }
  .portfolio h2 {
    font-family: "Poppins", sans-serif;
    padding-bottom: .5em;
    border-bottom: 2px solid #b4b4b4;
    font-size: 1.3em;
    font-weight: 700; }

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 370px));
  grid-gap: 1.5em;
  margin-top: .9em; }
  .portfolio-grid > div {
    position: relative; }

.mad {
  background-image: url("./../img/main_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%; }

.js {
  background-image: url("./../img/js_game.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  padding-bottom: .5em;
  font-weight: bold;
  opacity: 0; }

.contact {
  color: #908f8f;
  padding: 1.5em; }
  .contact h2 {
    font-family: "Poppins", sans-serif;
    padding-bottom: .5em;
    border-bottom: 2px solid #b4b4b4;
    font-size: 1.3em;
    font-weight: 700; }

.contact-container {
  margin-top: .9em; }

.contact-icon {
  font-size: 2em;
  color: #908f8f;
  margin-top: .2em; }

.info p {
  margin-top: .5em; }

#contactForm label {
  display: block;
  margin-top: 1em; }
#contactForm input {
  width: 100%; }
#contactForm textarea {
  width: 100%;
  border: 1px solid #b4b4b4; }
#contactForm #submitBtn {
  display: block;
  width: 70%;
  padding: .5em;
  margin: 1em auto 0;
  background-color: #908f8f;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center; }

footer {
  margin-top: 2em;
  background-color: #000118;
  padding: 1em; }
  footer p {
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    line-height: 1.5em;
    font-size: .8em; }

/*# sourceMappingURL=main.css.map */
