* {
  box-sizing: border-box; }

body {
  font-size: 16px; }

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em; }

a {
  text-decoration: none;
  color: #727171; }

header {
  background-color: #000;
  color: #727171;
  font-family: "Roboto", sans-serif; }

.header-line1 {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  padding: .5em 1em;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000; }
  @media (min-width: 768px) {
    .header-line1 {
      align-items: flex-start; } }
  @media (min-width: 768px) {
    .header-line1 a {
      color: #fff; } }

.logo-container {
  width: 1.5em; }
  @media (min-width: 992px) {
    .logo-container {
      width: 3em; } }

object {
  width: 100%;
  height: 100%; }

.hamburger-menu {
  margin-left: auto;
  font-size: 1.45em;
  color: #fff; }
  @media (min-width: 768px) {
    .hamburger-menu {
      display: none; } }

nav {
  margin-left: auto;
  position: fixed;
  right: -400px;
  width: 250px;
  height: 500px;
  top: 0;
  background-color: #f9f9f9;
  color: #908f8f; }
  @media (min-width: 768px) {
    nav {
      position: static;
      background-color: inherit;
      height: 0;
      width: auto;
      margin-left: auto; } }
  nav .x-icon {
    font-size: 1.5em;
    display: block;
    margin-top: .7em;
    margin-right: .7em;
    margin-bottom: .7em;
    text-align: right;
    z-index: 100; }
    @media (min-width: 768px) {
      nav .x-icon {
        display: none; } }
  nav ul {
    list-style-type: none;
    font-size: 1.2em; }
    @media (min-width: 768px) {
      nav ul {
        display: flex;
        flex-wrap: wrap; } }
  nav li {
    padding: .5em;
    margin-bottom: .3em;
    border: 1px solid #b4b4b4; }
    nav li a {
      font-family: "Poppins", sans-serif; }
    @media (min-width: 768px) {
      nav li {
        border: 0;
        font-size: .8em;
        color: #fff;
        margin-bottom: 0; } }
    @media (min-width: 992px) {
      nav li {
        font-size: 1.1em; } }

.header-animation-container {
  background-image: url("../img/takuya-neon.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 16em; }
  @media (min-width: 768px) {
    .header-animation-container {
      height: 28em; } }
  @media (min-width: 992px) {
    .header-animation-container {
      height: 55em; } }

.about {
  color: #908f8f;
  padding: 1.5em; }
  @media (min-width: 992px) {
    .about {
      padding: 3em; } }
  .about h2 {
    font-family: "Roboto", sans-serif;
    padding-bottom: .5em;
    border-bottom: 2px solid #b4b4b4;
    font-size: 1.3em;
    font-weight: 700; }
    @media (min-width: 768px) {
      .about h2 {
        font-size: 1.8em; } }
    @media (min-width: 992px) {
      .about h2 {
        font-size: 2.2em; } }
  .about .subtitle-css {
    font-size: 1.05em; }
    @media (min-width: 768px) {
      .about .subtitle-css {
        font-size: 1.2em; } }
    @media (min-width: 992px) {
      .about .subtitle-css {
        font-size: 1.3em; } }

@media (min-width: 768px) {
  .about-container {
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 768px) {
  .intro {
    flex: 1 100%; } }
.intro p {
  font-family: "Poppins", sans-serif;
  margin-top: .5em;
  line-height: 1.4em; }
  @media (min-width: 768px) {
    .intro p {
      font-size: 1.1em;
      margin-top: .8em; } }
  @media (min-width: 992px) {
    .intro p {
      font-size: 1.25em;
      padding-right: 15em;
      line-height: 1.5em; } }

.education, .experience {
  margin-top: 2em; }
  @media (min-width: 768px) {
    .education, .experience {
      flex: 1 50%;
      margin-top: 4em; } }
  @media (min-width: 992px) {
    .education, .experience {
      margin-top: 5em; } }
  .education h3, .experience h3 {
    margin-bottom: 1em; }
    @media (min-width: 768px) {
      .education h3, .experience h3 {
        font-size: 1.5em; } }
    @media (min-width: 992px) {
      .education h3, .experience h3 {
        font-size: 1.8em; } }
  .education .subtitle-css, .experience .subtitle-css {
    font-weight: 500; }
  .education p, .experience p {
    font-family: "Roboto", sans-serif;
    margin-bottom: .3em; }
    @media (min-width: 768px) {
      .education p, .experience p {
        font-size: 1.2em; } }
    @media (min-width: 992px) {
      .education p, .experience p {
        font-size: 1.3em; } }

.education-wrapper {
  margin-bottom: 1em; }
  @media (min-width: 768px) {
    .education-wrapper {
      margin-top: 1.3em; } }

.job-wrapper {
  margin-bottom: 1.5em; }

.portfolio {
  color: #908f8f;
  padding: 1.5em; }
  @media (min-width: 992px) {
    .portfolio {
      padding: 3em; } }
  .portfolio h2 {
    font-family: "Roboto", sans-serif;
    padding-bottom: .5em;
    border-bottom: 2px solid #b4b4b4;
    font-size: 1.3em;
    font-weight: 700; }
    @media (min-width: 768px) {
      .portfolio h2 {
        font-size: 1.8em; } }
    @media (min-width: 992px) {
      .portfolio h2 {
        font-size: 2.2em; } }

@media (min-width: 768px) {
  .portfolio-container {
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 768px) {
  .portfolio-titles {
    flex: 0 50%; } }

.title-list li {
  padding: 1em 0 0 0;
  color: #908f8f;
  font-family: "Roboto", sans-serif; }
  @media (min-width: 768px) {
    .title-list li {
      font-size: 1.1em; } }
  @media (min-width: 992px) {
    .title-list li {
      font-size: 1.25em;
      padding: 1.5em 0 0 0; } }
.title-list .border {
  width: 0;
  height: .2em;
  background-color: #b4b4b4;
  margin-top: .2em; }
.title-list .medium {
  display: none; }
  @media (min-width: 768px) {
    .title-list .medium {
      display: block; } }
@media (min-width: 768px) {
  .title-list .small {
    display: none; } }
.title-list .small h4 {
  font-size: 1.2em;
  margin-bottom: .3em; }

.mobile-portfolio-wrapper {
  position: relative; }
  .mobile-portfolio-wrapper .pic {
    width: 100%; }
    .mobile-portfolio-wrapper .pic img {
      width: 100%;
      border: 1px solid #b4b4b4; }
  .mobile-portfolio-wrapper .layer {
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.65) 20%);
    width: 100%;
    height: 100%;
    opacity: 0; }
    .mobile-portfolio-wrapper .layer a {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      align-content: flex-end; }
      .mobile-portfolio-wrapper .layer a p {
        color: #fff;
        font-size: 1.2em;
        margin-right: .5em;
        margin-bottom: .5em; }

.mobile-title {
  color: #fff; }

.portfolio-placeholoder {
  display: none; }
  @media (min-width: 768px) {
    .portfolio-placeholoder {
      margin-top: 1em;
      display: block;
      flex: 0 50%;
      opacity: 0; }
      .portfolio-placeholoder h4 {
        font-weight: bold; } }
    @media (min-width: 768px) and (min-width: 768px) {
      .portfolio-placeholoder h4 {
        font-size: 1.1em; } }
    @media (min-width: 768px) and (min-width: 992px) {
      .portfolio-placeholoder h4 {
        font-size: 1.25em; } }

  @media (min-width: 992px) {
    .portfolio-placeholoder {
      margin-top: 2em; } }

@media (min-width: 768px) {
  .thumbnail-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 175px);
    grid-gap: .5em;
    margin-top: 1em; } }
@media (min-width: 992px) {
  .thumbnail-wrapper {
    grid-template-columns: repeat(2, 300px); } }
.thumbnail-wrapper img {
  width: 100%;
  border: 1px solid #b4b4b4; }

.desc {
  margin-top: 1em;
  font-size: 1.1em; }
  @media (min-width: 992px) {
    .desc {
      font-size: 1.2em;
      margin-top: 1.2em;
      line-height: 1.5em; } }

.skills-wrapper {
  margin-top: 1em; }
  .skills-wrapper span {
    display: inline-block;
    padding: .3em;
    background-color: #eeeeee;
    border-radius: 5% 5%;
    margin-bottom: .5em;
    margin-right: .3em; }
    @media (min-width: 992px) {
      .skills-wrapper span {
        font-size: 1.1em;
        margin-bottom: .8em; } }

.contact {
  color: #908f8f;
  padding: 1.5em; }
  @media (min-width: 992px) {
    .contact {
      padding: 3em; } }
  .contact h2 {
    font-family: "Roboto", sans-serif;
    padding-bottom: .5em;
    border-bottom: 2px solid #b4b4b4;
    font-size: 1.3em;
    font-weight: 700; }
    @media (min-width: 768px) {
      .contact h2 {
        font-size: 1.8em; } }
    @media (min-width: 992px) {
      .contact h2 {
        font-size: 2.2em; } }

.contact-container {
  margin-top: .9em; }
  @media (min-width: 768px) {
    .contact-container {
      display: flex;
      flex-wrap: wrap; } }
  @media (min-width: 992px) {
    .contact-container {
      margin-top: 1.5em; } }

.contact-icon {
  font-size: 2em;
  color: #908f8f;
  margin-top: .5em; }
  @media (min-width: 768px) {
    .contact-icon {
      margin-top: .5em;
      font-size: 2.5em;
      margin-right: .2em; } }

@media (min-width: 768px) {
  .info {
    flex: 0 50%; } }

@media (min-width: 768px) {
  .info h3 {
    font-size: 1.3em; } }

.info p {
  margin-top: 1em; }
  @media (min-width: 768px) {
    .info p {
      margin-top: 1em;
      font-size: 1.2em; } }

@media (min-width: 768px) {
  #contactForm {
    flex: 0 50%; } }
#contactForm label {
  display: block;
  margin-top: 1em; }
  @media (min-width: 768px) {
    #contactForm label {
      margin-top: 0;
      font-size: 1.1em; } }
#contactForm input {
  width: 100%;
  height: 1.5em;
  border: 0;
  font-size: 1.1em;
  padding: .2em;
  background-color: #e1dede; }
  @media (min-width: 768px) {
    #contactForm input {
      margin-bottom: 1.5em;
      height: 1.7em; } }
#contactForm textarea {
  padding: .2em;
  width: 100%;
  font-size: 1.1em;
  border: 0;
  background-color: #e1dede; }
#contactForm p {
  text-align: center;
  margin-top: 1em; }
#contactForm #submitBtn {
  display: block;
  width: 70%;
  padding: .5em;
  margin: 1em auto 0;
  background-color: #908f8f;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center; }
  @media (min-width: 768px) {
    #contactForm #submitBtn {
      padding: .5em;
      font-size: .8em; } }

footer {
  margin-top: 2em;
  background-color: #000;
  padding: 1em; }
  footer p {
    color: #fff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    line-height: 1.5em;
    font-size: .8em; }

/*# sourceMappingURL=main.css.map */
