/* GENERAL STYLES - NOT TO BE EDITED */

/* make sure padding does not add to the width of a div */

* {
    box-sizing: border-box;
}

/* stop page from scrolling */

html,
body {
    height: 100%;
    overflow: hidden;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading img {
    width: 50px;
    height: auto;
    width: 200px;
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 960px;
    height: 600px;
    overflow: hidden;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #00bf9c;
}

.next,
.prev {
    position: absolute;
    font-size: 2em;
}

.next:hover,
.prev:hover {
    cursor: pointer;
}

#playPause {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

#playPause:hover {
    cursor: pointer;
}

.play {
    width: 12px;
    height: 16px;
    border-top: 8px solid transparent;
    border-left: 12px solid #000;
    border-bottom: 8px solid transparent;
}

.pause {
    width: 12px;
    height: 16px;
    border-right: 4px solid #FFF;
    border-left: 4px solid #FFF;
}


/* GENERAL STYLES - MAY BE EDITED */

.next,
.prev {
    bottom: 0px;
    padding: 16px;
    color: rgb(48, 48, 48);
    transition: all 0.5s;
    font-family: 'Source Sans Pro', sans-serif;
}

.next {
    right: 0px;
}

.prev {
    left: 0px;
}

.next:hover,
.prev:hover {
    color: #000;
    background: rgb(189, 189, 189);
}

/* shared screen styles */

.toppage-h1 {
    font-size: 2em;
}

section h1 {
    top: 45px;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}

section h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
}

.ele {
    position: absolute;
    background: #000;
    width: 100px;
    height: 100px;
}

.eleHover:hover {
    cursor: pointer;
}

/* screen 1 styles */

#screen1 {
    background: url(../img/top_page.svg);
}

#screen1 h1 {
    top: 20%;
    left: 50%;
    color: #000;
}

#screen1 p {
    color: black;
    font-size: 2.8rem;
    position: absolute;
    top: 43%;
    left: 26%;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    border-right: .15em solid orange;
    animation: typing 2.3s steps(40, end) 4.5s, cursor .75s step-end 3.5s infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 47%
    }
}

@keyframes cursor {
    from,
    to {
        border-color: transparent
    }
    10% {
        border-color: orange;
    }
}

.layer {
    position: absolute;
    top: 350px;
    left: 340px;
    letter-spacing: 2px;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    width: 290px;
    height: 60px;
    color: teal;
}

.layer2 {
    background: #fff;
    z-index: 100;
}

.happyBtn {
    position: absolute;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: arial;
    top: 360px;
    left: 405px;
    z-index: 1000;
    transition: border .5s ease-out .3s;
}

.happyBtn:hover {
    border: 2px solid teal;
    background: lightgrey;
}

/* screen 2 styles */

#screen2 h1 {
    left: 50%;
}

#screen2 .flex1 {
    position: absolute;
    top: 26%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#screen2 .flex2 {
    text-align: center;
}

#screen2 .flex3 {
    background: rgb(242, 242, 242);
    width: 210px;
    height: 270px;
}

#screen2 .box h3 {
    font-family: 'Timmana', sans-serif;
    font-size: 1.5rem;
}

#screen2 .box button {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding: 10px 18px;
    transition: color 1s ease-in-out;
}

#screen2 .box button:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.browserImg {
    background: teal;
    height: 25px;
    display: flex;
    align-items: center;
}

.noCss {
    margin: 0;
    text-align: left;
}

#screen2 .button {
    margin-right: 159px;
}

#screen2 .browserImg div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background: red;
}

#screen2 .browserImg div:first-child {
    margin-left: 5px;
}

#screen2 .browserImg div:nth-child(2) {
    background: yellow;
}

#screen2 .browserImg div:nth-child(3) {
    background: darkgreen;
}

#screen2 .browserImg div:last-child {
    margin-left: .7rem;
    width: 135px;
    border-radius: 0%;
    background: #fff;
}

#screen2 #msg {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    color: tomato;
    font-family: 'Source Sans Pro', sans-serif;
}

/* screen 3 styles */

#screen3 h1 {
    left: 50%;
}

#screen3 h2:hover, #screen3 img:hover {
    cursor: pointer;
}

#screen3 p {
    position: absolute;
    top: 29%;
    left: 35.5%;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

.pcImg {
    width: 600px;
    position: absolute;
    top: 38%;
    left: 19%;
}

#screen3 h2 {
    position: absolute;
    font-size: 1.7rem;
}

#screen3 #screen3Msg {
    display: none;
}

.skill1 {
    top: 32%;
    left: 120px;
}

.skill2 {
    top: 45%;
    left: 120px;
}

.skill3 {
    top: 62%;
    left: 120px;
}

.skill4 {
    top: 32%;
    right: 220px;
}

.skill5 {
    top: 45%;
    right: 90px;
}

#skillLayer {
    position: absolute;
    top: 255px;
    left: 348px;
    width: 264px;
    height: 133px;
    background-color: #00bf9c;
    opacity: 0;
}

/* screen 4 styles */

#screen4 h1 {
    left: 49%;
}

#screen4 p {
    position: absolute;
    top: 26%;
    left: 34.3%;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

#screen4 img {
    position: absolute;
}

#screen4 img {
    cursor: pointer;
}

#toolLayer {
    position: absolute;
    top: 225px;
    left: 330px;
    width: 280px;
    height: 127px;
    background-color: #00bf9c;
    opacity: 0;
}

.pc {
    top: 35%;
    left: 33%;
    width: 320px;
}

.browser {
    width: 150px;
    top: 30%;
    left: 8%;
}

.brackets {
    width: 115px;
    top: 60%;
    left: 10%;
}

.illustrator {
    width: 100px;
    top: 160px;
    right: 110px;
}

.photoshop {
    width: 100px;
    top: 280px;
    right: 110px;
}

.terminal {
    width: 97px;
    top: 400px;
    right: 110px;
}

/* screen 5 styles */

#screen5 h1 {
    left: 50%;
}

.dev {
    position: absolute;
    width: 230px;
    top: 35%;
    left: 110px;
}

.head {
    width: 55px;
    height: 55px;
    border-radius: 50% 50%;
    background: #fff;
    position: absolute;
    top: -55px;
    left: 258px;
}

.help {
    position: absolute;
    top: 530px;
    left: 160px;
    padding: .5rem 1.5rem;
    background: rgb(251, 251, 251);
    color: teal;
    border: 2px solid grey;
    font-size: 1.2rem;
    font-style: italic;
}

.help:hover {
    background: rgb(255,255,255);
}

.msg {
    position: absolute;
    top: 500px;
    left: 100px;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    opacity: 0;
    z-index: -10;
}

.statsWrapper {
    color: #fff;
    position: absolute;
    top: 33%;
    left: 46%;
    font-family: 'Roboto Condensed', sans-serif;
}

.salary {
    font-size: 1.6rem;
    margin-bottom: 2.9rem;
}

.gender p {
    margin: 0;
    padding: 5px;
}

.male {
    background: green;
}

.female {
    background: orange;
}

/* screen 6 styles */

#screen6 {
    color: #fff;
}

#screen6 h1 {
    left: 49%;
}

#screen6 h2,
#screen6 p,
#screen6 h3 {
    font-family: 'Oswald', sans-serif;
}

#screen6 h2 {
    font-size: 2.2rem;
}

#screen6 h3 {
    font-size: 1.5rem;
}

.reference {
    position: absolute;
    top: 32%;
    left: 15%;
}

#screen6 img {
    width: 150px;
    position: absolute;
    top: 55%;
    right: 30.7%;
}

#screen6 p {
    position: absolute;
    top: 33.5%;
    right: 15%;
    font-size: 1.5rem;
}

a {
    color: #fff;
    text-decoration: none;
    font-style: italic;
}

#screen6 .go {
    position: absolute;
    top: 500px;
    right: 313px;
    font-weight: bold;
    opacity: 0;
}

#screen6 .hoverMsg {
    position: absolute;
    top: 135px;
    left: 350px;
    font-size: 1.1rem;
}