.contact {
    @include section-base();
}

.contact-container {
    margin-top: .9em;

    @include mediaQuery($medium) {
        @include flex(flex, null, wrap);
    }
}

.contact-icon {
    font-size: 2em;
    color: $primary-font-color;
    margin-top: .5em;

    @include mediaQuery($medium) {
        margin-top: .5em;
    }
}

.info {
    @include mediaQuery($medium) {
        flex: 0 50%;
    }
}

.info h3 {
    @include mediaQuery($medium) {
    }
}

.info p {
    margin-top: 1em;
    @include mediaQuery($medium) {
        margin-top: 1em;
    }
}

#contactForm {

    @include mediaQuery($medium) {
        flex: 0 50%;
        padding: 0 1em;
    }

    & label {
        display: block;
        margin-top: 1em;

        @include mediaQuery($medium) {
            margin-top: 0;
        }
    }

    & input {
        width: 100%;
        height: 1.5em;
        border: 0;
        font-size: 1.1em;
        background-color: $field-background-color;
        @include mediaQuery($medium) {
            margin-bottom: 1.5em;
        }
    }

    & textarea {
        width: 100%;
        font-size: 1.1em;
        border: 0;
        background-color: $field-background-color;
    }

    & p {
        text-align: center;
        margin-top: 1em;
    }

    & #submitBtn {
        display: block;
        width: 70%;
        padding: .5em;
        margin: 1em auto 0;
        background-color: $primary-font-color;
        color: #fff;
        font-family: $secondary-font-family;
        text-align: center;
    }
}
