header {
    background-color: $header;
    color: $secondary-font-color;
    font-family: $primary-font-family;
}

.header-line1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em;
}

.logo-container {
    width: 2.5em;
}

object {
    width: 100%;
    height: 100%;
}

.name {  
    font-size: 1.5em;
    margin-left: .4em;
    font-weight: 600;
}

.hamburger-menu {
    margin-left: auto;
    font-size: 1.45em;
}

nav {
    display: block;
    margin-left: auto;
}

ul {
    display: flex;
    list-style-type: none;

    li {
    margin-left: 2em;
    font-size: 1.1em;
    }

    li:last-child {
        margin-right: .5em;
    }
}

.header-animation-container {
    background-color: #fff;
}



