// To create flex container.
@mixin flex($disp: flex, $dir: null, $wrap: null, $just: null) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
}

@mixin section-base() {
    color: $primary-font-color;
    padding: 1.5em;

    @include mediaQuery($large) {
        padding: 3em;
    }

    & h2 {
        font-family: $gif-font-family;
        font-weight: bold;
        padding-bottom: .5em;
        border-bottom: 2px solid $border;
        font-size: 1.5em;
        font-weight: 700;

        @include mediaQuery($medium) {
            font-size: 2em;
        }

        @include mediaQuery($large) {
            font-size: 2.4em;
        }
    }
}

@mixin mediaQuery($breakPoint) {
    @media (min-width: $breakPoint) {
        @content
    }
}
