// To create flex container.
@mixin flex($disp: flex, $dir: null, $wrap: null, $just: null) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
}

@mixin section-base() {
    color: $primary-font-color;
    padding: 1.5em;

    & h2 {
        font-family: $primary-font-family;
        padding-bottom: .5em;
        border-bottom: 2px solid $border;
        font-size: 1.3em;
        font-weight: 700;

        @include mediaQuery($medium) {
            font-size: 1.8em;
        }
    }
}

@mixin mediaQuery($breakPoint) {
    @media (min-width: $breakPoint) {
        @content
    }
}
