.portfolio {
    @include section-base();
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 370px));
    grid-gap: 1em;
}

.mad {
    background-color: rgba(0,0,0,.85);
    & img {
        width: 100%;
    }
}


