.portfolio {
    @include section-base();
}

.portfolio-container {
    @include mediaQuery($medium) {
        @include mediaQuery($medium) {
            @include flex(flex, null, wrap);
        }
    }
}

.portfolio-titles {
    @include mediaQuery($medium) {
        flex: 0 50%;
    }
}

.title-list {
    & li {
        padding: 1em 0 0 0;
        color: $primary-font-color;
        @include mediaQuery($medium) {
            font-size: 1.1em;
        }
    }

    & .border {
        width: 0;
        height: .2em;
        background-color: $border;
        margin-top: .2em;
    }
}

.portfolio-placeholoder {
    display: none;
    @include mediaQuery($medium) {
        margin-top: 1em;
        display: block;
        flex: 0 50%;
        opacity: 0;

        & h4 {
            font-weight: bold;
            @include mediaQuery($medium) {
                font-size: 1.1em;
            }
        }
    }
}

.thumbnail-wrapper {
    @include mediaQuery($medium) {
        display: grid;
        grid-template-columns: repeat(2, 175px);
        grid-gap: .5em;
        margin-top: 1em;

        & img {
            width: 100%;
            border: 1px solid $border;
        }
    }
}

.desc {
    margin-top: 1em;
    font-size: 1.1em;
}

.skills-wrapper {
    margin-top: 1em;

    span {
        display: inline-block;
        padding: .3em;
        background-color: $skill-background-color;
        border-radius: 5% 5%;
        margin-bottom: .5em;
        margin-right: .3em;
    }
}









