@font-face {
    src: url('./../font/beon-webfont.ttf');  
    font-family: 'Beon';
}
// Colors=========================================
$header: #000;
$primary-background-color: #000;
$skill-background-color: rgba(238, 238, 238, .5);
$field-background-color: #e1dede;
// $primary-font-color: #908f8f;
$primary-font-color:rgba(255,255,255, .95);
$secondary-font-color: #727171;

$border: #b4b4b4;
// $border2: #dcdcdc;
// Font Family=========================================
$primary-font-family: 'Roboto',sans-serif;
$secondary-font-family: 'Poppins', sans-serif;
$gif-font-family: 'Beon';


// Break Point==========================================
$medium: 768px;
$large: 992px;
