// Colors=========================================
$header: #000118;
$primary-background-color: #f9f9f9;
$skill-background-color: #eeeeee;
$field-background-color: #e1dede;
$primary-font-color: #908f8f;
$secondary-font-color: #fff;

$border: #b4b4b4;

// Font Family=========================================
$primary-font-family: 'Poppins', sans-serif;
$secondary-font-family: 'Roboto',sans-serif;

// Break Point==========================================
$medium: 768px;
$large: 992px;
